.main{
display:flex;
align-items: center;
justify-content: center;
margin-top:50px;
}
.main1{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;   
}
.holidaysTable{
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden; 
    border:1px solid rgb(56, 54, 54);
}
th, td {
    border: 1px solid rgb(230, 165, 165);
    text-align: left;
    padding: 8px;
    background-color: #bde9ef;
}
th {
    background-color: #d4f69e;
}
.btn{
margin:2px
}
.division{
    width:200px;
    height:37px;
}
body{
    background-color:rgb(246, 247, 226);
}